.vertically-center{
    padding-top: 25%;
}
i{
    color: #fd7e14;
}
.color-warning{
    color: #f39c12;
}
.color-danger{
    color: #e74c3c;
}
.slide-item-inactive{
    display: none;
}
.fade-in{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.score-card{
    text-align: center;
}
.failed-star{
    opacity: .1;
}
.color-green{
    color: #00bc8c;
}
a{
    text-decoration: none !important;
}
.disabled-link{
    color: #007053;
    font-size: 16px
}

.secondary-link{
    font-size:20px;
}